body {
    font-family: "Lucida Handwriting Std", cursive;
    margin: 0;
    font-size: 20px;
    background-image: linear-gradient(to bottom, rgb(255, 69, 69), orange, yellow, pink, rgb(170, 0, 170));
}

h1 {
    font-size: 75px;
    font-weight: 1000;
    text-align: center;
}

h2 {
    font-size: 50px;
    text-decoration: underline;
}

h3 {
    font-size: 40px;
}

p {
    font-size: 20px;
    padding: 0px 20px;
}

img {
    border-radius: 20px;
    display: block;
    margin: auto;
    width: 400px;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    object-fit: cover; 
}

.round_img {
    height: 200px;
    width: 200px;
    clip-path: circle(50%);
}

button {
    background-color: white;
    display: block;
    margin: auto;
}

iframe {
    display: block;
    margin: auto;
}

.grid_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.content_div {
    width: 500px;
    background-color: rgba(186, 186, 186, 0.436);
    border-style:dotted;
    border-color: black;
    border-radius: 20px;
    border-width: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px 30px 50px 30px;
    animation: bubble1 1.5s ease-in-out;
    animation-iteration-count: infinite;
    transition: background-color 1s;
}

.content_div:hover {
    background-color: rgba(96, 96, 96, 0.436);
    transition: background-color 1s;
}

.colored_div {
    width: 500px;
    background-color: rgba(186, 186, 186, 0.436);
    border-style:dotted;
    border-color: black;
    border-radius: 20px;
    border-width: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px 30px 50px 30px;
    animation: bubble2 1.5s ease-in-out;
    animation-iteration-count: infinite;
    transition: background-color 1s;
}

.colored_div:hover {
    background-color: rgba(96, 96, 96, 0.436);
    transition: background-color 1s;
}

@keyframes bubble1 {
  0% { transform: scale(1); }
  50% { transform: scale(1.02); }
  100% { transform: scale(1); }
}

@keyframes bubble2 {
  0% { transform: scale(1.02); }
  50% { transform: scale(1); }
  100% { transform: scale(1.02); }
}

.middle_text {
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

.center_head {
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
}

.top_bar {
    background: linear-gradient(to right, rgb(255, 0, 0) , rgb(255, 162, 0));
    width: 100%;
    height: 60px;
    padding: 10px 0 20px 0;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page_link_div {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.toggle_div {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}

.top_bar_links {
    color: white;
    padding: 20px;
}

.top_bar_links:visited {
    color: white;
}

.top_bar_links:hover {
    color: #aaccea;
}

.toggle_button {
    font-size: 15px;
    border-radius: 20px;
    border-color: white;
    color: white;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
}

.bottom_bar {
    background-image: linear-gradient(to right, rgb(251, 0, 251) , rgb(123, 0, 189));
    width: 100%;
    height: 100%;
    padding: 20px 0;
    text-align: center;
}

.round_square_links {
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    font-size: 30px;
    display: block;
    width: max-content;
    margin: auto;
}

.round_square_links:visited {
    color: white;
}

.round_square_links:hover {
    color: #aaccea;
}

